<dl>
    <dt>{{ __github }}</dt>
    {%- if include.items -%}
        {% for item in include.items -%}
            {% case item %}
                {% when "homepage" %}
                    <dd><a href="{{ repository_url }}">{% octicon mark-github height:16 %} {{ __homepage }}</a></dd>
                {% when "issues" %}
                    <dd><a href="{{ issues_url }}">{% octicon issue-opened height:16 %} {{ __issues }}</a></dd>
                {% when "download" %}
                    <dd><a href="{{ zip_url }}">{% octicon download height:16 %} {{ __download }}</a></dd>
                {% else %}
            {% endcase %}
        {% endfor -%}
    {%- else -%}
        <dd><a href="{{ repository_url }}">{% octicon mark-github height:16 %} {{ __homepage }}</a></dd>
        <dd><a href="{{ issues_url }}">{% octicon issue-opened height:16 %} {{ __issues }}</a></dd>
        <dd><a href="{{ zip_url }}">{% octicon download height:16 %} {{ __download }}</a></dd>
    {%- endif -%}
</dl>
